@use './_colors.scss' as c;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    text-align: center;
    text-transform: capitalize;
}

nav {
    z-index: 1;

    .nav-color {
        background-color: aqua;
    }

    .logo_color {
        color: c.$main-color;
        font-weight: bold;
    }

    .nav-text {
        text-transform: uppercase;
        font-size: 16px;
        color: c.$whit-color;
    }

    .navbar-brand {
        color: c.$whit-color;
    }

    .fa-solid {
        color: c.$whit-color;
        padding: 10px;
    }

    .nav-link:hover {
        color: c.$main-color;
        font-weight: bold;
    }

    .form-control {
        border: 2px solid c.$main-color;
    }

    .btn-search {
        border: 2px solid c.$main-color;
    }
}

header {
    .hero-img {
        position: relative;
        height: 94vh;
        background-image: url('../img/wallpaper_1920.jpg');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }

    .hero-shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: c.$shad-color;
    }

    .hero-shadow .avi {
        z-index: 0;
    }

    .hero-shadow .list {
        margin-top: -43%;
        margin-left: 60%;
        font-size: 14px;
        color: c.$whit-color;
    }

    .list {
        width: 50%;
        height: 50%;
    }

    .log {
        margin-left: 9%;
    }

    .log2 {
        height: 25vh;
        margin-top: 87%;
        margin-left: 9%;
    }
}

 /* foorer */
 footer {
    height: 40px;
    line-height: 40px;
    color: #ddd;
    background-color: c.$foot-color;
    text-align: center;
    font-style: 20px;
}